@font-face {
    font-family: 'Outfit';
    src: url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
}

:root {
    --outfit: 'Outfit';
    --white: #FFFFFF;
    --blue: #31548E;
    --dark-blue: #112950;
    --black: #231F20;
    ;
}

.fw-500{
    font-weight: 500;
}

p,a,div{
    font-family: var(--outfit);
}
.nav_button{
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;
}

footer p, footer a{
    color: var(--white);
    text-decoration: none;
}